.paginationDiv {
  display: flex;
  position: absolute;
  bottom: 3rem;
  flex-direction: row;
  justify-content: center;
}

.currentPageText {
  color: #888;
  font-size: 32px;
  margin: 0 1rem;
}

.paginationButton {
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}