.card {
    width: 300px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #283618;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: left;
}

.description-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
    background-color: white;
}

.description-section p {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.positiveTemperature {
    color: #f58c8c;
}

.negativeTemperature {
    color: #6885f8;
}

.header-section {
    height: 140px;
    padding: 20px;
}

.type-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
}

.location-text {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
}

.wave-section {
    width: 100%;
    /* Background color behind the wave */
}

.wave-section svg {
    display: block;
    /* Removes any unwanted space below SVG */
}

.loading {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.loading:after {
    content: ' ';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid black;
    border-color: black transparent black transparent;
    animation: loading 1.2s linear infinite;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wave {
    0% {
        background-position-x: 300px;
    }
    100% {
        background-position-x: 0px;
    }
}
