.homePageContainer {
    background: linear-gradient(to bottom, #abdef2, #FFFFFF);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.homePageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 80px;
    padding-bottom: 200px;
}

.greetingHeader {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

.favoritesHeader {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    width: 80%;
}
