.homePageContainer {
    background-attachment: fixed; /* Add this line */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.homePageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding-top: 1.5rem;
    padding-bottom: 200px;
}

.greetingHeader {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
}

.favoritesHeader {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    width: 80%;
}

.favoritesHeader {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 5rem;
    font-weight: 700;
    width: 80%;
}

.noFavoritesText {
    color: #888;
    font-size: 20px;
    padding: 0 0.5rem;
    text-align: center;
}

/* Mobile-view */
@media screen and (max-width: 600px) {
    .homePageContainer {
        padding-top: 30px;
    }

    .greetingHeader {
        font-size: 40px; /* Juster denne verdien etter behov */
        text-align: center !important; /* Dette vil sikre at teksten alltid er midtstilt, selv om en annen stil prøver å overstyre den */
    }
    .homePageContent {
        padding-top: 0;
    }
}

.homePageHint {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #777;
}
