.searchPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    margin: 1.5rem 0 1.5rem;
}

.searchPageHeaderDiv {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 3rem;
}

.backButtonDiv {
    position: absolute;
    left: 10%;
}

.resultText {
    color: #888;
    font-size: 20px;
    padding: 0 0.5rem;
    text-align: center;
}

#logo {
    margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    .searchPageHeaderDiv {
        flex-direction: column;
    }
    .backButtonDiv {
        left: 5%;
        top: -4rem;
    }
}
