.heart_div {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer;
}

.heart_div > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heart_div .solid {
    opacity: 0;
    transition: 0.2s;
}

.heart_div:hover .solid {
    opacity: 1;
}
