.searchContainer {
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Mobile-view */
@media screen and (max-width: 600px) {
    .searchContainer {
        width: 80%;
    }
}

/* Tablet-view */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .searchContainer {
        width: 60%;
    }
}

.searchBar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

input[type='text'] {
    flex: 1;
    height: 60px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #777;
}

input[type='text']::placeholder {
    color: #c7c7c7;
}

.searchDropdown {
    width: 100%;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top: 1px solid #c7c7c7;
    position: absolute;
    overflow: hidden;
    top: 60px;
    z-index: 100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdownTextDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12px;
}

.dropdownTextDiv h3 {
    margin: 0;
    margin-bottom: 1px;
    font-weight: 300;
}

.dropdownTextDiv p {
    margin: 0;
    font-size: 12px;
}

.searchDropdownItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #888;
    background-color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: background-color 0.3s;
    text-decoration: none;
}

.searchDropdownItem:focus {
    outline: none;
    background-color: #ddd;
}

.searchDropdownItem:hover {
    background-color: #ddd;
}

.selectedDropdownItem {
    background-color: #ddd;
}

.searchButton {
    border: none;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    .searchButton {
        display: none;
    }
}